:root {
  --color-primary: #e83822;
  --color-primary-tint: #e8b4a3;
  --color-primary-shade: #b99391;

  --color-accent: #b3f0c3;
  --color-background: #fff;

  --color-grey-1: #f3f3f3;
  --color-grey-2: #f9f8f8;
  --color-grey-3: #c9c7cd;
  --color-grey-4: #9696a0;

  --color-text-primary: #302422;
  --color-text-secondary: #646060;
  --color-text-tertiary: #5f6161;
}
