@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Ruge+Boogie&display=swap");
:root {
  --color-primary: #e83822;
  --color-primary-tint: #e8b4a3;
  --color-primary-shade: #b99391;
  --color-accent: #b3f0c3;
  --color-grey-1: #f9f8f8;
  --color-grey-2: #c9c7cd;
  --color-grey-3: #9696a0;
  --color-text-primary: #302422;
  --color-text-secondary: #646060; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.container {
  display: grid;
  background-color: var(--color-grey-1);
  min-height: 100vh;
  width: 100%;
  grid-template-rows: 15rem auto;
  grid-template-columns: minmax(30rem, 1fr) 3fr 2fr; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  color: var(--color-text-primary);
  line-height: 1.5;
  font-weight: 400; }
