@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Montserrat:wght@400;500;600;700&display=swap");
:root {
  --color-primary: #e83822;
  --color-primary-tint: #e8b4a3;
  --color-primary-shade: #b99391;
  --color-accent: #b3f0c3;
  --color-background: #fff;
  --color-grey-1: #f3f3f3;
  --color-grey-2: #f9f8f8;
  --color-grey-3: #c9c7cd;
  --color-grey-4: #9696a0;
  --color-text-primary: #302422;
  --color-text-secondary: #646060;
  --color-text-tertiary: #5f6161; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.container {
  display: grid;
  background-color: var(--color-background);
  min-height: 100vh;
  width: 100%;
  grid-template-rows: [header-start] 9rem [header-end] auto;
  grid-template-columns: [sidebar-start] 30rem [sidebar-end main-start] 1fr [main-end];
  grid-template-areas: 'header header' 'sidebar main'; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  color: var(--color-text-primary);
  line-height: 1.5;
  font-weight: 400; }

.logo {
  padding: 0.5rem 0;
  width: fit-content;
  display: flex;
  align-items: center; }
  .logo__img {
    height: 8rem;
    margin-right: 1.5rem; }
  .logo__name {
    font-family: 'Henny Penny', cursive;
    font-size: 4rem;
    transform: translateY(3px); }

.header {
  grid-row: header-start / header-end;
  grid-column: sidebar-start/ tasks-end;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem; }
  .header__profile-options {
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%; }
  .header__link, .header__link:link, .header__link:visited {
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    color: var(--color-text-primary);
    padding: 0 1.8rem;
    height: 100%;
    transition: all 0.3s; }
    .header__link svg, .header__link:link svg, .header__link:visited svg {
      width: 3rem;
      height: 3rem;
      fill: var(--color-text-secondary);
      margin-right: 0.8rem; }
  .header__link:hover, .header__link:active {
    background-color: var(--color-grey-2); }
  .header__option {
    height: 100%; }
  .header__new-notifications {
    position: absolute;
    top: 2.5rem;
    left: 3rem;
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600; }
  .header__profile-label {
    display: flex;
    align-items: center;
    margin: 0 2rem 0 1.5rem; }
  .header__profile-avatar {
    height: 5.5rem;
    margin-right: 1rem; }
  .header__profile-name {
    display: inline-block;
    font-weight: 500; }

.main {
  grid-column: main-start / main-end;
  grid-area: main;
  background-color: var(--color-grey-1); }

.sidebar {
  grid-column: sidebar-start / sidebar-end;
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .sidebar__list {
    list-style: none;
    margin-top: 3.5rem;
    width: 100%; }
  .sidebar__link, .sidebar__link:link, .sidebar__link:visited {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 2.2rem;
    color: var(--color-text-tertiary);
    padding: 1.4rem 4rem;
    transition: all 0.3s; }
    .sidebar__link svg, .sidebar__link:link svg, .sidebar__link:visited svg {
      width: 3.5rem;
      height: 3.5rem;
      fill: var(--color-text-tertiary);
      margin-right: 1.5rem; }
  .sidebar__item {
    position: relative; }
    .sidebar__item:not(:last-child) {
      margin-bottom: 0.5rem; }
    .sidebar__item::before {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      top: 0;
      left: 1.5rem;
      width: 1rem;
      transition: all 0.3s;
      transform: scaleY(0); }
    .sidebar__item--active::before {
      background-color: var(--color-primary);
      transform: scaleY(1); }
    .sidebar__item--active > .sidebar__link {
      color: var(--color-primary); }
      .sidebar__item--active > .sidebar__link svg {
        fill: var(--color-primary); }
    .sidebar__item:hover::before {
      background-color: var(--color-primary);
      transform: scaleY(1); }
