.sidebar {
  grid-column: sidebar-start / sidebar-end;
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__list {
    list-style: none;
    margin-top: 3.5rem;
    width: 100%;

    @include respond(phone) {
      margin-top: 11.5rem;
    }
  }

  &__link {
    &,
    &:link,
    &:visited {
      display: flex;
      align-items: center;
      text-decoration: none;
      font-weight: 600;
      font-size: 2.2rem;
      color: var(--color-text-tertiary);
      padding: 1.4rem 4rem;
      transition: all 0.3s;

      svg {
        width: 3.5rem;
        height: 3.5rem;
        fill: var(--color-text-tertiary);
        margin-right: 1.5rem;
      }
    }
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      top: 0;
      left: 1.5rem;
      width: 1rem;
      transition: all 0.3s;
      transform: scaleY(0);
    }

    &--active {
      &::before {
        background-color: var(--color-primary);
        transform: scaleY(1);
      }

      & > .sidebar__link {
        color: var(--color-primary);
        svg {
          fill: var(--color-primary);
        }
      }
    }

    &:hover {
      &::before {
        background-color: var(--color-primary);
        transform: scaleY(1);
      }
    }
  }

  @include respond(phone) {
    position: absolute;
    z-index: 500;
    background-color: var(--color-grey-2);
    height: 100%;
    width: 65%;
    box-shadow: 2rem 0 3rem rgba(#000, 0.2);
    transition: all 0.5s ease;
    left: -100%;
    // left: 0; -> animation
  }
  @include respond(phone-small) {
    width: 75%;
  }
}
